@page
@model Presentation.Pages_Makers.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Maker[0].MakerName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Maker) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MakerName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.MakerId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.MakerId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.MakerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
