@page
@model Presentation.Pages_TicketTypes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TicketType[0].TicketTypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketType[0].BasePrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TicketType) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TicketTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BasePrice)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.TicketTypeId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.TicketTypeId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.TicketTypeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
