@page
@model Presentation.Pages_Routes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Route[0].OrgAirport)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Route[0].DesAirport)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Route) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrgAirport.AirportId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DesAirport.AirportId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.RouteId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.RouteId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.RouteId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
